<% if current_user %>
    <h1>Hi, <%= current_user.name %> </h1>
    <%= link_to "Logout", logout_path %>
    <section class='existing-users'>
        <p>Existing Users: </p>
        <% @users.each do |user| %>
            <p><%= user.email %></p>
        <% end %>
    </section>
<% else %>
    <%= link_to "Log In", login_path %>
    <%= button_to "Create New User", register_path, method: :get %>
<% end %>